@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap");
#container {
  font-family: "Kanit", sans-serif;
  margin-top: auto;
  overflow: hidden;
}

label {
  float: left;
  width: 200px;
  padding-right: 24px;
}

.subJudul {
  font-weight: bold;
}

.style-input {
  color: black;
  width: 225px;
  height: 15px;
  font-size: 15px;
}

.style-input:hover {
  color: #fff;
  background-color: #333;
  width: 225px;
  height: 15px;
  font-size: 15px;
  border: 2px solid black;
}
